<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>All Launch Details</h1><br><br>
    {% for launch in launch %}
        
       
      
      
       <a href="detail_view\{{launch.id}}"><img src="{{launch.Mission_Patch_Link}}" width=200px></a><h1 style="background-color: black;text-align: center;font-size: 50px;font-family: 'Times New Roman', Times, serif;margin-top: 50px;margin-left: 500px"></h1>{{launch.Mission_name}}</h1>
       <hr>
       
      

      {% endfor %}
    
       <br><br><br>
       
      
    
</body>
</html>